*.csv
.git/objects/pack/pack-a9916ddf4c4c32097511daeb41be50d9d00d90c8.pack
*.ipynb_checkpoints/
Kangaroo/cuda-repo-rhel8-11-8-local-11.8.0_520.61.05-1.x86_64.rpm
Metadata/all_file_user_metadata.csv
*.mp4
practice/temporary.png
SmileFeatures/LandmarkFeatures/mediapipe_features_all_task.csv
SmileFeatures/OpenfaceFeatures/openface_features_all_task.csv
SurrogateFeatures/LandmarkFeatures/ahhhh-mediapipe_features.csv
SurrogateFeatures/LandmarkFeatures/extend_arm-mediapipe_features.csv
SurrogateFeatures/LandmarkFeatures/quick_brown_fox-mediapipe_features.csv
Videos/all_file_user_metadata.csv
Videos/Videos/all_file_user_metadata.csv
